#slide-landing {
  background-image: url("../img/slide-pertama-bg.jpg");
  filter: blur(2px);
}

.heading-landing {
  color: white;
  text-shadow: 2px 2px 3px #eaeaea;
  padding-top: 85px;
}

.semi-transparent {
  opacity: 0.75;
}

.text-light {
  color: #f7f9fb;
}

.btn-fullscreen {
  border: none;
  background-color: transparent;
  color: whitesmoke;
}

.bg-lapangan {
  background-color: #8d8832;
}

.fw-380 {
  font-weight: 380;
}

.cursor-pointer {
  cursor: pointer;
}

#lapangan-heading {
  padding-top: 170px;
}
